
:root {
  --color-primary: #7600FC;
  --color-secondary: #6500D9;
  --color-tertiary: #5200B0;
  --font-roboto: 'Roboto', sans-serif;
  --color-quaternary: #3F0087;
  --color-quinary: #2C005E;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-style: none;
  list-style: none;
}

h1{
  color: var(--color-primary);
}

h2{
  color: var(--color-secondary);
}


body{
  width: 100%;
}
